<div class = "titulo">
  <h1>Primer proyecto Angular</h1>
</div>
<nav>
  <ul>
      <a routerLink="/"><li>Home</li></a>
      <a routerLink="/login"><li>Login</li></a>        
      <a routerLink="/register"><li>Register</li></a>        
      <a routerLink="/contactUs"><li>Contact Us</li></a>    
  </ul>
</nav>
<div class="container">
  <h2 id="contact">Login</h2>
  <form action="" method="">
   <input type="email" name="email" required="required" placeholder="Email"><br />

   <input type="password" name="password" required="required" placeholder="Password">
    <br />
  </form>
  <button type="button">Enviar!</button>
</div>
<div class = "footer">
  <footer>
      <p>2021 derechos reservados</p>   
  </footer>
</div>  
  





    