<div class = "titulo">
  <h1>Primer proyecto Angular</h1>
</div>
<nav>
  <ul>
      <a routerLink="/"><li>Home</li></a>
      <a routerLink="/login"><li>Login</li></a>        
      <a routerLink="/register"><li>Register</li></a>        
      <a routerLink="/contactUs"><li>Contact Us</li></a>    
  </ul>
</nav>
<div class="container">
    <h2>Register</h2>
    <form action="" method="">
     <label>Name:</label>
     <input type="text" name="name" required="required" placeholder="name"><br/>

     <label>Last name:</label>
     <input type="text" name="last name" required="required" placeholder="last name"><br/>

     <label>Email:</label>
     <input type="email" name="email" required="required" placeholder="Email"><br/>

     <label>User name:</label>
     <input type="text" name="userName" required="required" placeholder="Username"><br/>

     <label>Password:</label>
     <input type="password" name="password" required="required" placeholder="Password">
      <br />
    </form>
    <button type="button">Enviar!</button>
  
</div>


<div class = "footer">
  <footer>
      <p>2021 derechos reservados</p>   
  </footer>
</div>

