<div class = "titulo">
    <h1>Primer proyecto Angular</h1>
</div>
<nav>
    <ul>
        <a routerLink="/"><li>Home</li></a>
        <a routerLink="/login"><li>Login</li></a>        
        <a routerLink="/register"><li>Register</li></a>        
        <a routerLink="/contactUs"><li>Contact Us</li></a>    
    </ul>
</nav>
<div class="container">
    <h2>Contact us</h2>
    <form action="" method="">
        <input type="text" name="nombre" id="name" value="Name" />
        <br />
        <input type="email" name="email" id="email" value="Email" />
        <br />
        <textarea name="message" id="message" cols="30" rows="10" placeholder = "Escribe aquí tu consulta"></textarea>
    </form>
    <button type="button">Enviar!</button>

</div>
<div class = "footer">
    <footer>
        <p>2021 derechos reservados</p>   
    </footer>
</div>